body {
    
    
    background-image: url("mid-century-modern-sun-rainbow-prints.jpg ");
                background-repeat:no-repeat;
               background-size:cover;
        } 
  

  /* .container {
    background-image: url(mid-century-modern-sun-rainbow-prints.jpg) ;



  } */